.actionButton {
  box-shadow: none;
  background-color: #00A0D2;
  color: #fff;
  padding: 13px 40px;
  border-radius: 21px;
  width: 10rem !important;

  &.actionButtonLeft {
    background-color: transparent;
    color: #00A0D2;

    &:hover {
      background-color: #E5F5FA !important;
    }
  }

  &:hover {
    background-color: #0088C3 !important;
  }

  &:disabled {
    cursor: not-allowed;
  }
}