.radio {

}

.radioWrapper {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  line-height: 18px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: transparent;
}

.radioWrapperChecked {
  border: none;
  background: #fff;
}

.radioIcon {
  width: 10px;
  height: 10px;
  background: #333;
}

.radioWrapperChecked {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  line-height: 18px;
  text-align: center;
  border: 5px solid #fff;
  background: transparent;
}
