@import "~styles/globals/variables";
@import "~styles/globals/mixins";

.radioWrapper {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  line-height: 18px;
  text-align: center;
  background: transparent;
}

.radioWrapperChecked {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  line-height: 18px;
  text-align: center;
  background: transparent;
  border: none;
}


.white {
  .radioWrapper {
    border: 1px solid rgba($color-white, 0.25);
  }
  .radioWrapperChecked {
    background: $color-white;
    border: 5px solid $color-white;
  }
}

.primary {
  .radioWrapper {
    border: 1px solid $color-azure;
  }
  .radioWrapperChecked {
    background: $color-azure;
    border: 5px solid $color-azure;
  }
}
