.root {
  text-align: center;
  padding: 40px 130px;

  @media (max-width: 640px) {
    padding: 40px 20px;
  }
}

.row {
  margin-top: 2rem;
}

.header {
  line-height: 24px;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  margin-bottom: 50px;
}

.submitButton {
  justify-content: center;
  font-weight: bold;
  background-color: #fff !important;
  padding: 12px 0;
  margin-bottom: 30px;

  &:hover {
    background-color: #E5F5FA !important;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.loginButton {
  margin-left: 5px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline;
  font-weight: 300;

  &:hover {
    text-decoration: underline;
  }
}

.otherActions {
  color: #BFE7F4;
  font-size: 16px;
  font-weight: 300;
}

.passwordField {
  margin-top: 0;
  margin-bottom: 38px;

  input {
    font-size: 16px;
    line-height: 22px;
    color: #A8EAFF;
    border-bottom: 1px solid #A8EAFF;
    outline: none;

    &:hover, &:focus {
      border-bottom: 1px solid #fff;
      color: #fff;
    }

    &::placeholder {
      font-size: 16px;
      font-weight: 400;
    }
  }
}
