@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i');

body {
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'ChronoBankIcons';
  font-weight: 400;
  font-style: normal;
  src: url('/static/fonts/ChronoBankIcons/ChronoBankIcons.woff') format('woff');


}
