
@mixin grid ($gutterH: 4rem, $gutterV: 0rem) {
  margin: 0 -#{$gutterH / 2};
}

@mixin gridItem ($gutter: 4rem) {
  margin: 0 #{$gutter / 2};

}

@mixin flex ($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}
