{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": [
            "styled-jsx-plugin-postcss"
          ]
        }
      }
    ]
  ],
  "plugins": [
    ["module-alias", [
      { "src": "./src", "expose": "src" },

      { "src": "./src/components", "expose": "components" },
      { "src": "./src/styles", "expose": "styles" },
      { "src": "./src/store", "expose": "store" },
      { "src": "./src/models", "expose": "models" },
      { "src": "./src/i18n", "expose": "i18n" },
      { "src": "./src/services", "expose": "services" }
    ]]
  ]
}
