node_modules/**
.next/**
build/**
.tmp/**
mocks/**
docs/**
*.json
*.md
*.less
*.scss
*.svg
git
static/**

stories/*
pages/**
*.js
src/**/*.js

!pages/client-job-view.js

!src/content/lib/CreateJobContent/validate.js
!src/daos/index.js
!src/daos/lib/ContractsManagerDAO.js
!src/daos/lib/JobControllerDAO.js
!src/daos/lib/JobsDataProviderDAO.js
!src/models/app/JobModel.js
!src/store/daos/actions.js
!src/store/jobs/actions.js
!src/models/validator.js
!src/models/wallets/SignerModel.js
!src/models/wallets/WalletModel.js
!src/store/ethereum/actions.js
!src/store/jobs/reducer.js
!src/routes.js
!src/components/common/Icon/Icon.js
!src/content/index.js
!src/content/lib/ContentJobViewContent/ContentJobViewContent.js
!src/content/lib/ContentJobViewContent/ContractTab/ContractTab.js
!src/content/lib/ContentJobViewContent/GeneralTab/GeneralTab.js
!src/content/lib/ContentJobViewContent/InfoTab/InfoTab.js
!src/content/lib/ContentJobViewContent/LogTab/LogTab.js
