node_modules/**
.next/**
build/**
.tmp/**
mocks/**
docs/**
*.json
*.md
*.less
*.scss
*.svg
git
static/**

stories/*
pages/**
*.js
src/**/*.js

!pages/_app
!pages/client-job-view.js
!pages/job-types.js
!pages/opportunity-view.js
!pages/review-applicants.js
!pages/to-do.js
!pages/client-profile.js
!pages/worker-profile.js

!src/routes.js

!src/daos/index.js
!src/daos/lib/ContractsManagerDAO.js
!src/daos/lib/JobControllerDAO.js
!src/daos/lib/UserLibraryDAO.js
!src/daos/lib/JobsDataProviderDAO.js
!src/daos/lib/ContractsManagerDAO.js

!src/models/app/JobModel.js
!src/models/app/WorkerExtraModel.js
!src/models/app/WorkerIPFSModel.js
!src/models/app/WorkerModel.js
!src/models/app/JobStateModel.js
!src/models/app/FlowTypeModel.js
!src/models/app/JobPausedEvent.js
!src/models/app/JobResumedEvent.js
!src/models/app/JobExtraModel.js
!src/models/validator.js
!src/models/index.js
!src/models/wallets/SignerModel.js
!src/models/wallets/WalletModel.js
!src/models/app/JobOfferModel.js
!src/models/app/ProfileModel.js
!src/models/app/JobOfferIPFSModel.js
!src/models/app/ClientIPFSModel.js
!src/models/app/ClientTypeModel.js
!src/models/app/JobOfferFormModel.js
!src/models/app/WorkerModel.js
!src/models/app/BoardRequirementModel.js

!src/store/index.js
!src/store/jobs/
!src/store/offers/
!src/store/reducers.js
!src/store/daos/actions.js
!src/store/ethereum/actions.js
!src/store/wallet/actions.js
!src/store/applicants/
!src/store/createAccount/actions.js
!src/store/login/actions.js
!src/store/user/actions.js
!src/store/user/reducer.js
!src/store/bootstrap.js

!src/components/common/Icon/Icon.js
!src/components/common/index.js
!src/components/common/ActiveJobCard/ActiveJobCard.js
!src/components/common/JobCard/JobCard.js
!src/components/common/WorkerJobCard/WorkerJobCard.js
!src/components/common/WorkerCard/WorkerCard.js
!src/components/common/WorkerState/WorkerState.js
!src/components/common/TodoCard/TodoCard.js
!src/components/common/Rating/Rating.js
!src/components/common/SecurityShield/SecurityShield.js
!src/components/common/Radio/Radio.js
!src/components/common/VerificationLevelSelector/

!src/components/layouts/MainLayout.js
!src/components/layouts/SecondMenu/SecondMenu.js
!src/components/layouts/Header/Header.js

!src/content/index.js
!src/content/lib/CreateJobContent/
!src/content/lib/ClientJobViewContent/ClientJobViewContent.js
!src/content/lib/ClientJobViewContent/ContractTab/ContractTab.js
!src/content/lib/ClientJobViewContent/GeneralTab/GeneralTab.js
!src/content/lib/ClientJobViewContent/InfoTab/InfoTab.js
!src/content/lib/ClientJobViewContent/LogTab/LogTab.js
!src/content/lib/ActiveJobsContent/ActiveJobsContent.js
!src/content/lib/ArchiveJobsContent/ArchiveJobsContent.js
!src/content/lib/JobTypesContent/JobTypesContent.js
!src/content/lib/PostedJobsContent/PostedJobsContent.js
!src/content/lib/ReviewApplicantsContent/ReviewApplicantsContent.js
!src/content/lib/TodoContent/TodoContent.js
!src/content/lib/OpportunityViewContent/
!src/content/lib/ApplicationsAndOffersContent/
!src/content/lib/ClientProfileContent/
!src/content/lib/WorkerProfileContent/
!src/content/lib/CreateJobBoardContent/

!src/partials/
