node_modules/**
.next/**
build/**
.tmp/**
mocks/**
docs/**
*.json
*.md
*.less
*.scss
*.svg
git
static/**

stories/*
pages/**
*.js
src/**/*.js

!pages/_app
!pages/client-job-view.js
!pages/job-types.js
!pages/opportunity-view.js
!pages/review-applicants.js
!pages/to-do.js
!pages/client-profile.js
!pages/worker-profile.js

!src/routes.js

!src/daos/index.js
!src/daos/lib/ContractsManagerDAO.js
!src/daos/lib/JobControllerDAO.js
!src/daos/lib/UserLibraryDAO.js
!src/daos/lib/JobsDataProviderDAO.js
!src/daos/lib/ContractsManagerDAO.js

!src/models/app/JobModel.js
!src/models/app/WorkerExtraModel.js
!src/models/app/WorkerIPFSModel.js
!src/models/app/WorkerModel.js
!src/models/app/JobStateModel.js
!src/models/app/FlowTypeModel.js
!src/models/app/JobPausedEvent.js
!src/models/app/JobResumedEvent.js
!src/models/app/JobExtraModel.js
!src/models/validator.js
!src/models/FilterModel.js
!src/models/validator.lang.js
!src/models/index.js
!src/models/wallets/SignerModel.js
!src/models/wallets/WalletModel.js
!src/models/app/JobOfferModel.js
!src/models/app/ProfileModel.js
!src/models/app/JobOfferIPFSModel.js
!src/models/app/ClientIPFSModel.js
!src/models/app/ClientTypeModel.js
!src/models/app/JobOfferFormModel.js
!src/models/app/JobBudgetModel.js
!src/models/app/WorkerModel.js
!src/models/app/JobIPFSModel.js
!src/models/app/BoardRequirementModel.js
!src/models/app/BoardPostFeeModel.js
!src/models/form/JobBoardFormModel.js
!src/models/notifications/

!src/store/index.js
!src/store/jobs/
!src/store/boards/
!src/store/offers/
!src/store/reducers.js
!src/store/daos/actions.js
!src/store/ethereum/actions.js
!src/store/wallet/actions.js
!src/store/applicants/
!src/store/createAccount/actions.js
!src/store/login/actions.js
!src/store/bootstrap.js
!src/store/boards/selectors.js
!src/store/jobs/actions.js
!src/store/jobs/selectors.js
!src/store/opportunities/selectors.js
!src/store/user/


!src/components/common/Link/
!src/components/common/Icon/Icon.js
!src/components/common/Chip/Chip.js
!src/components/common/Select/WrapperSelect.js
!src/components/common/index.js
!src/components/common/ActiveJobCard/ActiveJobCard.js
!src/components/common/JobCard/JobCard.js
!src/components/common/WorkerJobCard/WorkerJobCard.js
!src/components/common/WorkerState/WorkerState.js
!src/components/common/TodoCard/TodoCard.js
!src/components/common/Rating/Rating.js
!src/components/common/SecurityShield/SecurityShield.js
!src/components/common/Radio/Radio.js
!src/components/common/RadioIcon/RadioIcon.js
!src/components/common/OpportunityCard/OpportunityCard.js
!src/components/common/VerificationLevelSelector/
!src/components/common/ScheduleWidget/
!src/components/common/CompletedJobCard/CompletedJobCard.js

!src/components/layouts/MainLayout.js
!src/components/layouts/SecondMenu/SecondMenu.js
!src/components/layouts/Header/Header.js
!src/components/CompletedJobs/CompletedJobs.js
!src/components/Login/LoginForm/LoginForm.js
!src/components/Login/LoginOptions/LoginOptions.js

!src/content/index.js
!src/content/lib/CreateJobContent/
!src/content/lib/ApplicationsAndOffersContent/ApplicationsAndOffersContent.js
!src/content/lib/ApplicationsAndOffersContent/ApplicationsTabContent/ApplicationsTabContent.js
!src/content/lib/CreateJobContent/CreateJobContent.js
!src/content/lib/CreateJobContent/CreateJobForm.js
!src/content/lib/CreateJobContent/validate.js
!src/content/lib/ClientJobViewContent/ClientJobViewContent.js
!src/content/lib/ClientJobViewContent/ContractTab/ContractTab.js
!src/content/lib/ClientJobViewContent/GeneralTab/GeneralTab.js
!src/content/lib/ClientJobViewContent/InfoTab/InfoTab.js
!src/content/lib/ClientJobViewContent/LogTab/LogTab.js
!src/content/lib/ActiveJobsContent/ActiveJobsContent.js
!src/content/lib/ArchiveJobsContent/ArchiveJobsContent.js
!src/content/lib/JobTypesContent/JobTypesContent.js
!src/content/lib/PostedJobsContent/PostedJobsContent.js
!src/content/lib/ReviewApplicantsContent/ReviewApplicantsContent.js
!src/content/lib/TodoContent/TodoContent.js
!src/content/lib/OpportunityViewContent/
!src/content/lib/OpportunityViewContent/DescriptionTab/DescriptionTab.js
!src/content/lib/OpportunityViewContent/OpportunityViewContent.js
!src/content/lib/OpportunitiesContent/OpportunitiesContent.js
!src/content/lib/ApplicationsAndOffersContent/
!src/content/lib/ClientProfileContent/
!src/content/lib/WorkerProfileContent/
!src/content/lib/CreateJobBoardContent/

!src/partials/

!pages/general-profile.js
!src/api/backend/index.js
!src/api/backend/model/ProfileClientModel.js
!src/api/backend/model/ProfileContactsModel.js
!src/api/backend/model/ProfileModel.js
!src/api/backend/model/ProfilePassportModel.js
!src/api/backend/model/ProfilePersonalModel.js
!src/api/backend/model/ProfilePersonalVerificationRequestModel.js
!src/api/backend/model/ProfileRecruiterModel.js
!src/api/backend/model/ProfileWorkerModel.js
!src/content/lib/GeneralProfileContent/GeneralProfileContent.js
!src/content/lib/GeneralProfileContent/GeneralProfileContent.scss
!src/content/lib/GeneralProfileContent/PersonalForm.js
!src/models/form/ProfilePersonalFormModel.js
!src/store/index.js
!src/store/ui/general-profile-page.js
!src/store/ui/index.js

!src/api/backend/index.js
!src/api/backend/model/ProfileContactsConfirmationRequestModel.js
!src/api/backend/model/ProfileContactsConfirmationResultsModel.js
!src/api/backend/model/ProfileContactsVerificationRequestModel.js
!src/content/lib/GeneralProfileContent/ContactsForm.js
!src/content/lib/GeneralProfileContent/ContactsFormConfirmationDialog.js
!src/content/lib/GeneralProfileContent/GeneralProfileContent.js
!src/content/lib/GeneralProfileContent/GeneralProfileContent.scss
!src/models/form/ProfileContactsFormModel.js
!src/store/ui/general-profile-page.js
!src/utils/validator.js

!pages/general-profile.js
!src/api/backend/index.js
!src/api/backend/model/ProfileContactsApprovedModel.js
!src/api/backend/model/ProfileContactsModel.js
!src/api/backend/model/ProfileLocationSubmitRequestModel.js
!src/api/backend/model/ProfileModel.js
!src/api/backend/model/ProfilePersonalApprovedModel.js
!src/api/backend/model/ProfilePersonalModel.js
!src/api/backend/model/ProfilePersonalVerificationRequestModel.js
!src/content/lib/GeneralProfileContent/ContactsForm.js
!src/content/lib/GeneralProfileContent/ContactsFormValidateEmailDialog.js
!src/content/lib/GeneralProfileContent/ContactsFormValidatePhoneDialog.js
!src/content/lib/GeneralProfileContent/LocationForm.js
!src/content/lib/GeneralProfileContent/PassportForm.js
!src/content/lib/GeneralProfileContent/PersonalForm.js
!src/content/lib/GeneralProfileContent/index.js
!src/content/lib/GeneralProfileContent/index.scss
!src/store/general-profile/actions.js
!src/store/general-profile/index.js
!src/store/general-profile/reducer.js
!src/store/general-profile/selectors.js
!src/store/helper.js
!src/store/index.js
!src/store/reducers.js
!src/store/ui/general-profile-page.js
!src/store/ui/index.js
!src/store/ui/page/general-profile/index.js
!src/store/ui/page/general-profile/personal.js
!src/store/opportunities/selectors.js
!src/store/login/actions.js
