.root {
  text-align: center;
  padding: 100px 130px 150px;
  color: #BFE7F4;
  font-size: 16px;

  @media (max-width: 640px) {
    padding: 40px 20px;
  }
}

.formHeader {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  color: #fff;
  margin-bottom: 35px;
}

.otherActions {
  color: #BFE7F4;
  font-size: 16px;
  font-weight: 300;
}

.walletsWrapper {
  margin-bottom: 30px;
  border-top: 1px solid #A8EAFF;
}

.emptyListMessage {
  margin-bottom: 40px;
  border-bottom: 1px solid #A8EAFF;
  border-top: 1px solid #A8EAFF;
  padding: 22px 0;
  font-size: 16px;
  font-weight: 400;
  color: #A8EAFF;

}

.row {
  width: 260px;
  height: 40px;
}
.submitButton {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #00A0D2;
  background: #fff;

  &:hover {
    background-color: #E5F5FA;
  }

  span {
    font-weight: 500;
  }

}
.loginLink {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  margin-left: 5px;
  background: none;
  border: none;
  cursor: pointer;
  display: inline;

  &:hover {
    font-weight: 300;
    text-decoration: underline;
  }
}

.actionIconClass {
  transform: matrix(-1,0,0,-1,0,0);
}
