.root {
  //display: flex;
  //flex-direction: column;
  //align-items: center;
  //justify-content: space-between;
  min-height: 100%;
}

.logo {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  img {
    display: block;
  }
}

.contentWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.loginActionsWrapper {
  z-index: 10;
  width: 640px;
  text-align: center;
  background: linear-gradient(to bottom, rgba(0, 116, 165, 0.95), rgba(0, 160, 210, 0.95) 100%);
}

.backgroundImage {
  position: absolute;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
}

.gradientBlock {
  height: 430px;
  background: linear-gradient(to bottom,#0074A5 ,#00B5D1 100%);
  position: relative;
  opacity: 0.95;
}

.forNewUsersBlock {
  padding: 20px 50px 50px;
}