@import "~styles/globals/variables";

.root {
  color: currentColor;

  &:first-child {
    margin-top: 0;
  }
}

.label {
  margin-bottom: 0.5rem;
}

.invalid {
  .line {
    border-bottom-color: $color-error;
  }
}

.input {
  display: block;
  background: transparent;
  color: currentColor;
  text-align: center;
  font-size: $pBigSize;
  border: none;
  width: 100%;
  padding: 1rem;
  outline: none;

  &::placeholder {
    opacity: .75;
    color: currentColor;
    font-style: italic;
    font-weight: $font-weight-light;
    font-size: $pSize;
  }

  &:hover + .line,
  &:focus + .line
  {
    opacity: 1;
    border-bottom: 0.1rem solid $color-azure;
  }
}

.line {
  margin-top: 0.1rem; // avoid intersection with input
  opacity: .25;
  border-bottom: 0.1rem solid currentColor;
}

.error {
  margin-top: 10px;
  text-align: center;
  color: $color-error;
}

// --------- mods -------

.invert {
  color: $color-white;

  .error {
    color: $color-white;
  }
}

.huge {
  .input {
    font-size: $h1Size;
    text-align: left;

    &::placeholder {
      font-style: normal;
      font-weight: $font-weight-thin;
    }
  }

  .line {
    display: none;
  }
}

.boxed {
  .input {
    text-align: left;
    font-size: $pSize;
    padding: 1.5rem 2rem;
    border: 0.1rem solid $color-gray10;

    &:hover {
      border-color: $color-primary;
    }
  }

  &.invalid {
    .input {
      border-color: $color-error;
    }
  }

  .line {
    display: none;
  }

  .error {
    text-align: left;
  }
}

.materialInputWrapper {

  &:before {
    background-color: #A8EAFF !important;
    height: 1px !important;
  }

  &:after {
    background-color: #fff !important;
    height: 1px !important;
  }

  &:hover, &:focus {
    &:after {
      background-color: #fff !important;
    }
  }
}

.materialInputField {
  font-size: 16px;
  line-height: 22px;
  color: #A8EAFF;
  border: 0;
  border-bottom: 1px solid #A8EAFF;
  outline: none;
  width: 100%;
  background: transparent;
  position: relative;
  
  label {
    font-size: 16px;
    line-height: 22px;
    color: #A8EAFF !important;
    font-style: italic;
    font-weight: 400;
    left: 0;
    right:0;
  }

  &:hover, &:focus {
    color: #fff !important;
  }

  &::placeholder {
    font-size: 16px;
    font-weight: 400 !important;
    font-style: italic;
    color: #fff !important;
  }
}

.materialInput {
  font-size: 16px !important;
  line-height: 22px !important;
  color: #A8EAFF !important;
  border-bottom: 1px solid #A8EAFF;
  outline: none;
  height: auto !important;
  text-align: left;

  &:hover, &:focus {
    color: #fff !important;
  }

  &::placeholder {
    font-size: 16px !important;
    font-weight: 400 !important;
    font-style: italic;
    color: #fff ;
  }
}
