@import "~styles/globals/variables";

.root {
  color: currentColor;

  &:first-child {
    margin-top: 0;
  }
}

.label {
  margin-bottom: 0.5rem;
}

.invalid {
  .line {
    border-bottom-color: $color-error;
  }
}

.input {
  display: block;
  background: transparent;
  color: currentColor;
  text-align: center;
  font-size: $pBigSize;
  border: none;
  width: 100%;
  padding: 1rem;
  outline: none;

  &::placeholder {
    opacity: .5;
    color: currentColor;
    font-style: italic;
    font-weight: $font-weight-light;
    font-size: $pSize;
  }

  &:hover + .line,
  &:focus + .line
  {
    opacity: 1;
    border-bottom: 0.1rem solid $color-azure;
  }
}

.line {
  margin-top: 0.1rem; // avoid intersection with input
  opacity: .25;
  border-bottom: 0.1rem solid currentColor;
}

.error {
  margin-top: 10px;
  text-align: center;
  color: $color-error;
}

// --------- mods -------

.invert {
  color: $color-white;

  .error {
    color: $color-white;
  }
}

.huge {
  .input {
    font-size: $h1Size;
    text-align: left;

    &::placeholder {
      font-size: $h1Size;
      font-style: normal;
      font-weight: $font-weight-thin;
    }
  }

  .line {
    display: none;
  }
}

.alignLeft {
  .input {
    padding: 1rem 0;
    text-align: left;
  }
}

.boxed {
  .input {
    text-align: left;
    font-size: $pSize;
    padding: 1.5rem 2rem;
    border: 0.1rem solid $color-gray10;

    &:hover {
      border-color: $color-primary;
    }
  }

  &.invalid {
    .input {
      border-color: $color-error;
    }
  }

  .line {
    display: none;
  }

  .error {
    text-align: left;
  }
}
