.main {
  width: 100%;
  padding: 30px 0;
}

.contentWrapper {
  width: 1000px;
  margin: 0 auto;
}

h2 {
  color: #333333;
  font-size: 50px;
  font-weight: 200;
  letter-spacing: -1px;
  margin-bottom: 30px;
}

.actionsBlock {
  display: flex;

  margin-bottom: 30px;
}

.search {
  flex: 1;
}
.searchField {
  font-size: 14px;
  color: #333;
  font-weight: 300;
}

.filterButton {
  background: transparent;
  border: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.searchField {
  margin-top: 0;
  margin-bottom: 38px !important;
  border: 0;
}

.searchFieldInput {
  text-align: left;
  position: relative;
  color:#333 !important;
  padding: 5px 0 8px;
  border-bottom: 1px solid #333;

  &:hover, &:focus {
    color:#333 !important;
    border-bottom: 1px solid #ccc;
  }

  &::placeholder {
    color:#333 !important;
  }

}

.searchFieldLabel {
  transform-origin: top left !important;
  color:#333 !important;

}
.searchFieldWrapper {
  &:before {
    background-color: #333 !important;
    height: 1px !important;
  }

  &:after {
    background-color: #333 !important;
    height: 1px !important;
  }

  &:hover, &:focus {
    &:after {
      background-color: #ccc !important;
    }
  }
}
