@import "~styles/globals/variables";

.root {
  border-radius: .5rem;
  background-color: $paperColor;
  box-shadow: $paperBoxShadow;
}

.header-blue {
  padding: 3rem;
  border-radius: .5rem .5rem 0 0;
  background-color: $color-blue94;
  &:hover {
    background-color: $color-primary;
  }
}

.title-blue {
  color: $color-white;
}


.subtitle-blue {
  color: $color-blue53;
  font-weight: $font-weight-medium;
}

.header-white {
  padding: 3rem;
  border-radius: .5rem .5rem 0 0;
  background-color: $color-white;
}

.title-white {
  color: $color-black;
}

.subtitle-white {
  color: $color-black;
}

.content {
  padding: 3rem;
}
