@import "~styles/globals/fonts";
@import "~styles/globals/variables";

.root {
  outline: none;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  font-family: 'ChronoBankIcons';
  font-style: normal;
  line-height: 100%;
}

.clickable {
  cursor: pointer;
}


.faded {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.red {
  color: $color-red;
}

.blue {
  color: $color-blue !important;
}

.green {
  color: $color-green !important;
}

.gold {
  color: $color-gold !important;
}

.grey {
  color: $color-gray10 !important;
}

.grey30 {
  color: $color-gray30 !important;
}

.black {
  color: $color-black !important;
}

.white {
  color: $color-white !important;
}

.error {
  color: $color-error !important;
}

.warn {
  color: $color-warn !important;
}

.icon-rating:before {
  content: '\F019';
}

.icon-security:before {
  content: '\F01C';
}

.icon-security-check:before {
  content: '\F01A';
}

.icon-security-shield:before {
  content: '\F07F';
}

.icon-filter:before {
  content: '\F04E';
}

.icon-security-upgrade:before {
  content: '\F07F';
}

.icon-security-none:before {
  content: '\F04F';
}

.icon-message-warning:before {
  content: '\F073';
}

.icon-drop-1:before {
  content: '\F062';
}

.icon-phone-email:before {
  content: '\F079';
}

.icon-upload:before {
  content: '\F082';
}

.icon-home:before {
  content: '\F089';
}

.icon-file:before {
  content: '\F066';
}

.icon-delete:before {
  content: '\F05D';
}

.icon-message:before {
  content: '\F086';
}

.icon-close:before {
  content: '\F059';
}

.icon-check:before {
  content: '\F058';
}

.icon-search:before {
  content: '\F07E';
}

.icon-star:before {
  content: '\F019';
}

.icon-more:before {
  content: '\F074';
}

.icon-add-circle:before {
  content: '\F053';
}

.icon-help:before {
  content: '\F06a';
}

.icon-help-outline:before {
  content: '\F069';
}

.icon-back:before {
  content: '\F055';
}

.icon-edit:before {
  content: '\F063';
}

.icon-add:before {
  content: '\F054';
}

.icon-profile:before {
  content: '\F07C';
}

.icon-notifications:before {
  content: '\F075';
}

.icon-check-circle:before {
  content: '\F057';
}

.icon-cancel:before {
  content: '\F056';
}
