.root {
  text-align: center;
  padding: 40px 130px;
  color: #BFE7F4;
  font-size: 16px;
  font-weight: 300;

  @media (max-width: 640px) {
    padding: 40px 20px;
  }
}

.description {
  margin-bottom: 30px;
}

.continueLink {
  color: #fff;
  font-weight: normal !important;
  font-size: 16px;
  background: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.submitButtonWrapper {
  min-width: 230px;
}

.submitButton {
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fff !important;
  padding: 12px 0;
  margin-bottom: 30px;

  &:hover {
    background-color: #E5F5FA !important;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.formHeader {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  color: #fff;
  margin-bottom: 35px;
}

