.root {
  position: relative;
}

.wrapper {

}

.securityRating {
  position: absolute;
  top: 6px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  font-weight: 500;
  color: #fff;
}

.popoverHeader {
  font-size: 16px;
  font-weight: 700;
}

.popoverDescription {
  font-weight: 300;
  line-height: 22px;
  margin: 10px 0 10px;
}
