@import "~styles/globals/variables";
@import "~styles/globals/mixins";

$maxWidth: 74rem;

.main {
  flex-grow: 1;
}

.title {
  margin: 0;
  padding: 5rem 0 5rem 4rem;
  color: $color-white;
  background-image: $gradientBlueToGreen;
}

.titleText {
  font-size: $h1Size;
  font-weight: $font-weight-thin;
  letter-spacing: -0.1rem;
  line-height: 1;
}

.content {
  margin-bottom: 20rem;
  padding-left: 4rem;
  max-width: $maxWidth;
}

.date {
  padding: 4rem 0;
}

.todoCard {
  margin-bottom: 3rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.feedback {
  margin-top: 4rem;
}

.feedbackTitle {
  margin-bottom: 1rem;
}

.feedbackCards {
  > div {
    margin-top: 4rem;
  }
}
