@import "~styles/globals/variables";

.root {
  display: flex;
  align-items: center;
  border-top: 0.1rem solid $color-gray5;
  padding: 1.5rem 2rem 1.5rem 3rem;
  color: $color-black;

  &:hover {
    background-color: $color-gray3;

    & > .action,
    & > .link,
    & > .date {
      color: $color-primary;
    }
  }
}

// ------ on left ------

.date,
.firstIcon {
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 1rem;
}

.date {
  font-weight: $font-weight-light;
  color: $color-black;
}

.firstIcon {
  display: block;
}

// ------ center ------

.link {
  flex-grow: 1;
  color: $color-primary;
}

.header {
  font-size: $h4Size;
  font-weight: $font-weight-medium;
}

.action {
  flex-grow: 1;
  color: $color-black;
  font-weight: $font-weight-regular;
}

// ------ on right ------

.secondIcon,
.counter {
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 1rem;
}

.iconContainer {
  margin-right: 3rem;
  &:last-child {
    margin-right: 0;
  }
}
