@import "~styles/globals/variables";
@import "~styles/globals/mixins";

$cellWidth: 4.6rem;
$cellHeight: 4.6rem;
$headerHeight: 2.6rem;
$borderWidth: .1rem;

.root {
  @include flex(row, center, center);
  @include position(fixed, 0, $left: 0);
  width: 100%;
  height: 40rem;
  > * {
    margin: 0 2rem;
  }
  background-color: $color-white;
  z-index: 999;
}

.calendarRoot {
  > p {
    margin: .5rem 0;
    font-weight: $font-weight-medium;
  }
}

.month {
  width: calc(7 * ($cellWidth + 2 * $borderWidth));
  height: calc(6 * ($cellHeight + 2 * $borderWidth) + ($headerHeight + 2 * $borderWidth));
  .headerCell {
    width: $cellWidth;
    height: $headerHeight;
    font-size: $pMediumSize;
    color: $color-gray30;
  }
  .cell {
    width: $cellWidth;
    height: $cellHeight;
    > div {
      height: 100%;
      font-size: $pMediumSize;
      font-weight: $font-weight-medium;
      p {
        padding: .5rem 1rem .1rem;

      }
      .event {
        margin: .1rem 0;
        width: 100%;
        height: .5rem;
        background-color: $color-schedule;
      }
    }
    &.otherMonth {
      color: $color-gray30;
    }
    &.currentDay {
      background-color: rgba($color-azure, .2);
      &:hover {
        background-color: rgba($color-azure, .3);
      }
    }
    &:hover {
      background-color: $color-gray5;
    }
  }

  table, th, td {
    border: $borderWidth solid $color-gray10;
    border-collapse: collapse;
  }
  td {
    padding:0;
    margin:0;
  }
  .grey {
    background-color: $color-gray3;
  }
}
