@import "~styles/globals/variables";
@import "~styles/globals/mixins";

.root {
  @include card;
  overflow: hidden;
  border-left-width: 1rem;
  border-left-style: solid;
}

.todoInfo {
  @include flex(column, center, stretch);
  padding: 2rem;
  border-bottom: solid 1px $color-gray5;
  min-height: 8rem;
  &:hover {
    color: $color-azure;
  }
}

.cardNote {
  margin-bottom: 1.5rem;
  font-size: $pSmallSize;
  font-weight: $font-weight-bold;
}

.rowInfo {
  @include flex(row, flex-start, center);
  > * {
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

.progress {
  @include flex(row, flex-start, center);
  padding: 0 2rem;
  min-height: 6rem;
}

.progressTimer {
  @include flex(row, flex-start, center);
  * > {
    margin-right: .5rem;
  }
}

.actions {
  margin-left: auto;
}

.actionButton {
  padding: 1rem 1.5rem;
  color: $color-gray10;
  &:hover {
    color: $color-azure;
  }
}

.daysLeft {
  margin-left: auto;
}

.attention {
  border-left-color: $color-gold;
  .cardNote {
    color: $color-gold;
  }
}

.problem {
  border-left-color: $color-red;
  .cardNote {
    color: $color-red;
  }
}

.inProgress {
  border-left-width: 0;
  color: $color-white;
  .todoInfo {
    padding-left: 3rem;
    background-color: $color-todo1;
    border-bottom: 0;
    &:hover {
      color: $color-white;
      background-color: $color-todo1-hover;
    }
  }
  .progress {
    padding-left: 3rem;
    background-color: $color-todo2;
    &:hover {
      background-color: $color-todo2-hover;
    }
  }
  .actionButton {
    color: rgba($color-white, .2);
    &:hover {
      color: $color-white;
    }
  }
}

.applied {
  border-left-color: $color-gray50;
}

.approved {
  border-left-color: $color-azure;
  .cardNote {
    color: $color-azure;
  }
}

.medium {
  font-weight: $font-weight-medium;
}
