.container {
    flexGrow: 1;
    position: 'relative';
    height: 250;
}
.suggestionsContainerOpen {
    position: 'absolute';
    zIndex: 1;
    marginTop: 2rem;
    left: 0;
    right: 0;
}

.suggestion {
    display: 'block';
}
.suggestionsList {
    margin: 0;
    padding: 0;
}

.listItems li {
        list-style-type: none; 
}