.popover {
  display: none;
  top: 100%;
  position: absolute;
  background: #fff;
  border: 2px solid #333333;
  padding: 20px;
  font-family: roboto, sans-serif;
  z-index: 99;

  b {
    font-weight: 500;
  }
}

.popoverArrow {
  &:before {
    content: '';
    display: block;
    border: 2px solid #333;
    background-color: #FFFFFF;
    transform: matrix(0.7071,-0.7071,0.7071,0.7071,-3,8);
    width: 12px;
    height: 12px;
    position: absolute;
    top: -16px;
  }
  &:after {
    content: '';
    display: block;
    background: #fff;
    width: 100%;
    height: 12px;
    position: absolute;
    top:0;
    left:0;
  }
}

.arrowLeft {
  left: -13px;

  &:before {
    left: 15px;
  }
}

.arrowCenter {
  &:before {
    left: 0;
    right: 0;
  }
}

.arrowRight {
  right: -8px;

  &:before {
    right: 15px;
  }
}

.popoverVisible {
  display: block;
}

