.root {
  min-height: 100%;
}

.logo {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  z-index: 10;
  img {
    display: block;
  }
}

.contentWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 1102px;
  width: 100%;
  overflow: hidden;
  height: 100%;

  @media (max-width: 1024px) {
    min-height: auto;
  }
}

.loginWrapper {
  z-index: 10;
}

.helpLink {
  position: absolute;
  top: 6px;
  right: 10px;

  img {
    width: 24px;
  }
}

.backgroundImage {
  position: absolute;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
}

.forNewUsersBlock {
  position: absolute;
  top: 312px;
  left: -564px;
  right: 0;
  width: 530px;
  margin: auto;
  z-index: 9;

  @media (max-width: 1024px){
    position: relative;
    top:0;
    left:0;
    margin: 0;
  }
}
.gradientBlock {
  height: 430px;
  background: linear-gradient(to bottom,#0074A5 ,#00B5D1 100%);
  position: relative;
  opacity: 0.95;

  @media (max-width: 1024px){
    display: none;
  }
}

.buttonsWrapper {
  width: 405px;
  margin: 0 auto 58px;
  text-align: center;

  @media (max-width: 620px) {
    width: auto;
    margin: 0 12px 38px 20px;
  }

    .methodButton {
    box-shadow: 4px 4px 2px rgba(70,93,140,0.2);
    background-color: #FFFFFF;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #E5E5E5;
    width: 122px;
    padding: 15px 0;
    margin: 0 10px 10px 0;
    color: #333333;
    cursor: pointer;
    font-weight: 500;

    @media (max-width: 1024px){
      width: 30%;
      margin: 0 8px 10px 0;

      &.pluginButton,
      &.walletButton {
        display: none;
      }
    }

    &:hover {
      background: #F7F7F7;
    }

    img {
      width: 48px;
      display: block;
      margin: 0 auto 4px;
    }
  }
}

.pageHeader {
  line-height: 24px;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  margin: 40px 0 50px;
}
.contentGradient {
  background: linear-gradient(to bottom,rgba(0, 116, 165, 0.95) ,rgba(0, 160, 210, 0.95) 100%) !important;
}
