@import '~styles/globals/variables';
@import '~styles/globals/mixins';

.root {
  background-color: $color-white;
  padding-left: 3rem;
  box-shadow: 0.5rem 0 0.8rem rgba($color-super-black, 0.1);
  color: $color-gray50;
  height: 100%;
}

.section {
  padding: 2.4rem 0;
  border-bottom: 0.1rem solid $color-gray10;

  &:last-child {
    border-bottom: none;
  }
}

.icons {
  @include flex(row, flex-start, center);
  .iconProfile {
    @include flex(row, center, center);
    width: 9.4rem;
    .completed {
      color: $color-black;
      margin-left: 1rem;
      font-weight: $font-weight-bold;
      opacity: 0.5;
    }
  }
  .iconsItem {
    margin-left: 2.5rem;
    border-radius: 2.1rem;
    padding: 1rem;
    background-color: $color-gray5;
    &:hover {
      background-color: $color-blue;
    }
    &:first-child {
      margin-left: 0;
    }
  }
}


.link {
  display: block;
  color: $color-gray50;
  font-size: $h4Size;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
  &.selected {
    color: $color-blue;
  }
  &:hover {
    color: $color-primary;
  }
}

.subLink {
  display: block;
  font-size: $pSize;
  padding-left: 2rem;
  padding-top: 2rem;
  color: $color-gray50;
  line-height: 1;
  font-weight: normal;
  &.selected {
    color: $color-blue;
  }
  &:hover {
    color: $color-primary;
  }
}
