@import "~styles/globals/variables";
@import "~styles/globals/mixins";

.jobDateAward {
  @include flex(row, flex-start, center);
  margin-left: auto;
  > * {
    margin-left: 4rem;
  }
}

.review {
  margin-left: auto;
  width: 10rem;
  color: $color-azure;
  background-color: transparent;
}

.icon {
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.root {
  @include card;
  border-left-width: 1rem;
  border-left-style: solid;
  > div {
    @include flex(row, flex-start, center);
    height: 6rem;
    border-bottom: solid 1px $color-gray5;
    padding: 0 2rem;
  }
}

.applicantsOffers {
  @include flex(row, flex-start, center);
  margin-right: 2rem;
  > * {
    margin-right: 1rem;
  }
}

.jobName {
  &:hover {
    color: $color-blue;
  }
}

.jobInfo {
  min-height: 9rem;
}

.report {
  font-weight: $font-weight-light;
  color: $color-red;
}

.applied {
  border-left-color: $color-gray50;
}

.approved {
  border-left-color: $color-gray50;
}

.inProgress {
  border-left-color: $color-gray50;
}

.attention {
  border-left-color: $color-gray50;
}

.problem {
  border-left-color: $color-gray50;
}
