/* Color definitions
** Use this service to retrieve color names:
** http://www.color-blindness.com/color-name-hue
*/

/* stylelint-disable color-no-hex */
/* color definitions */
:root
  --white: #fff
  --black: #000
