@import "~styles/globals/variables";
@import "~styles/globals/mixins";

.jobAwardRow {
  @include flex(row, flex-start, center);
  margin-left: auto;
  > * {
    @include flex(row, flex-end, center);
    margin-left: 4rem;
  }
}

.review {
  margin-left: auto;
  color: $color-azure;
  background-color: transparent;
}

.icon {
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.root {
  @include card;
  border-left-width: 1rem;
  border-left-style: solid;
  margin-bottom: 2rem;
  > div {
    @include flex(row, flex-start, center);
    height: 6rem;
    border-bottom: solid 1px $color-gray5;
    padding: 0 2rem;
  }
}

.rowInfo {
  @include flex(row, flex-start, center);
  min-height: 9rem;
  > * {
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

.iconAndName {
  @include flex(row, flex-start, center);
  margin-right: 4rem;
}

.link {
  font-weight: $font-weight-regular;
  &:hover {
    font-weight: $font-weight-regular;
    color: $color-blue;
  }
}

.actionButton {
  margin-left: 1rem;
  padding: 1rem 1.5rem;
  color: $color-azure;
}

.medium {
  font-weight: $font-weight-medium;
}

.report {
  font-weight: $font-weight-light;
  color: $color-red;
}

.applied {
  border-left-color: $color-gray50;
}

.approved {
  border-left-color: $color-azure;
}

.inProgress {
  border-left-color: $color-green;
}

.attention {
  border-left-color: $color-gold;
}

.problem {
  border-left-color: $color-red;
}

.card {
  width: 100%;
  border-left-color: #92BB72;
  border-radius: .5rem;
  background-color: #FFF;
  box-shadow: 0.4rem 0.4rem 0.6rem rgba(51, 51, 51, 0.1);
  border-left-width: 1rem;
  border-left-style: solid;
  margin-bottom: 2rem;
}

.cardName {
  font-weight: 500;
  color: #333;
  display: inline-block;
  margin-left: 1rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.cardName:hover {
  color: #00A0D2;
}

.jobStartTimeBlock {
  display: inline-block;
  font-size: 1.4rem;
}

.avatar {
  background-color: #92BB72;
  width: 30px;
  height: 30px;
}

.workerName {
  font-size: 1.4rem;
  font-weight: 300;
  color: #333;
}

.cardTop {
  height: 80px;
}

.cardBottom {
  height: 64px;
}

.cardHeaderAction {
  align-self: center !important;
  margin-top: 0px !important;
  margin-right: 0px !important;
}

.avatarImg {
  width: 30px;
  height: 30px;
}

.actionBtn {
  color: #00A0D2;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}

.actionBtn:hover {
  color: #0088C3;
}