.root {
  text-align: center;
  padding: 40px 130px;

  @media (max-width: 640px) {
    padding: 40px 20px;
  }
}
.formHeader {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  color: #fff;
  margin-bottom: 45px;
}

.errorForm {
  margin-top: 20px;
  color: #e6bf6e;
}

.row {
  margin-bottom: 30px;
}

.forgotPasswordLink {
  color: #fff;
  font-weight: normal !important;
  font-size: 16px;
  background: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.userBlock {
  color: #A8EAFF;
  border-top: 1px solid #A8EAFF;
  border-bottom: 1px solid #A8EAFF;
  padding: 18px 0;
  text-align: left;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;

  .userBlockInner {
    display: flex;

    .userBlockAvatar {
      .userAvatar {
        width: 40px;
        border-radius: 20px;
        margin-right: 20px;
      }
    }

    .userBlockInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &:hover {
        color: #fff;
      }

      .userName {
        font-size: 16px;
        line-height: 22px;
      }

      .userAddress {
        font-size: 12px;
        line-height: 17px;
      }
    }
  }

  .actionWrapper {
    align-items: center;
    display: flex;
  }

}
.actionListTrigger {
  background: transparent;
  width: 24px;
  border: none;
  opacity: 0.25;
  cursor: pointer;
  outline: none;

  &:hover {
    opacity: 1;
  }

  img {
    display: block;
  }
}

.passwordField {
  margin-top: 0;
  margin-bottom: 38px;

  input {
    font-size: 16px;
    line-height: 22px;
    color: #A8EAFF;
    border-bottom: 1px solid #A8EAFF;
    outline: none;

    &:hover, &:focus {
      border-bottom: 1px solid #fff;
      color: #fff;
    }

    &::placeholder {
      font-size: 16px;
      font-weight: 400;
    }
  }

}

.submitButton {
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fff !important;
  padding: 12px 0;

  &:hover {
    background-color: #E5F5FA !important;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.accountWrapper {
  margin-bottom: 30px;
  border-top: 1px solid #A8EAFF;
}

.fieldError {
  color: #FFE14D;
}

.passwordFieldInput {


  label {
    font-size: 16px;
    line-height: 22px;
    color: #A8EAFF !important;
    font-style: italic;
    left: 0;
    right:0;
    transform-origin: top center;
    //transform: translate(0, 20px) scale(1);

    &[data-shrink=true] {
      //transform-origin: top center;
    }
  }
  input {
    text-align: center;
  }
}
.passwordFieldInputWrapper {
  &:before {
    background-color: #A8EAFF !important;
    height: 1px !important;
  }

  &:after {
    background-color: #fff !important;
    height: 1px !important;
  }
}