.root {
  text-align: center;
  padding: 40px 130px;
  background: linear-gradient(to bottom, rgba(0, 116, 165, 0.95), rgba(0, 160, 210, 0.95) 100%);
}
.formHeader {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  color: #fff;
  margin-bottom: 45px;
}

.forgotPasswordLink {
  color: #fff;
  font-weight: 200;
  font-size: 16px;

  &:hover {
    font-weight: 200;
    text-decoration: underline;
  }
}

.userBlock {
  color: #A8EAFF;
  border-top: 1px solid #A8EAFF;
  border-bottom: 1px solid #A8EAFF;
  padding: 18px 0;
  text-align: left;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;

  .userBlockInner {
    display: flex;

    .userBlockAvatar {
      .userAvatar {
        width: 40px;
        border-radius: 20px;
        margin-right: 20px;
      }
    }

    .userBlockInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &:hover {
        color: #fff;
      }

      .userName {
        font-size: 16px;
        line-height: 22px;
      }

      .userAddress {
        font-size: 12px;
        line-height: 17px;
      }
    }
  }

  .actionWrapper {
    align-items: center;
    display: flex;
  }

}
.actionListTrigger {
  background: transparent;
  width: 24px;
  border: none;
  opacity: 0.25;
  cursor: pointer;
  outline: none;

  &:hover {
    opacity: 1;
  }

  img {
    display: block;
  }
}

.passwordField {
  margin-top: 0;
  margin-bottom: 38px;
}

.submitButton {
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fff !important;
  padding: 12px 0;
  margin-bottom: 30px;

  &:hover {
    background-color: #E5F5FA !important;
  }
}